<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件Demo——pager</title>
    <link href="../../styles/style.css" rel="stylesheet">
    <link href="./index.css" rel="stylesheet">
</head>
<body>

<div class="goods clearfix">

    <div class="goods_item">1</div>
    <div class="goods_item">2</div>
    <div class="goods_item">3</div>
    <div class="goods_item">4</div>
    <div class="goods_item">5</div>
    <div class="goods_item">6</div>
    <div class="goods_item">7</div>
    <div class="goods_item">8</div>
    <div class="goods_item">9</div>
    <div class="goods_item">10</div>
    <div class="goods_item">11</div>
    <div class="goods_item">12</div>
    <div class="goods_item">13</div>
    <div class="goods_item">14</div>
    <div class="goods_item">15</div>
    <div class="goods_item">16</div>
    <div class="goods_item">17</div>
    <div class="goods_item">18</div>
    <div class="goods_item">19</div>
    <div class="goods_item">20</div>
</div>
<div class="mod_pager">
   <div class="items"></div>
</div>
  

   <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script> -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/seajs/3.0.2/sea.js"></script>
   <script type="text/javascript">window.pageConfig = {compatible: true}</script>
    <script type="text/javascript" src="//misc.360buyimg.com/jdf/??1.0.0/unit/base/1.0.0/base.js,lib/jquery-1.6.4.js"></script>
    
    <script type="text/javascript" src="../../../build/channel_base.min.js"></script>
    <script type="text/javascript" src="../../../src/components/pager/pager.js"></script>
    

    <script>
         var Pager = seajs.require('pager');
         var $mod_pager = $('.mod_pager');
         var $goods = $('.goods');
         var page = new Pager({
           el: $('.items',$mod_pager),
           count: $goods.children().length,
           pagesize: 5,
           onPage: function(o){
               $goods.children().hide();
               var start = (this.currentPage - 1) * this.pagesize;
               var end = this.currentPage * this.pagesize - 1;
               $goods.children().slice(start,end + 1).css('display','block');
           }
          });

     
    </script>
</body>
</html>