
.demo{
    text-align: center;
    padding: 200px 0;
}

.demo_btns{
    display: inline-block;
    margin: 0 5px;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.demo_btns:hover{
    background: #333;
    color: #fff;
}

.container{
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
    height: 200px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px 0 8px 8px;
    font-family: Arial;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.close{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 30px;
    color: #333;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-family:Arial;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.close:hover{
    background: #333;
    color: #fff;
}

h1{
    font-weight: normal;
    text-align: center;
    font-size: 24px;
}

p{
    text-align: center;
    color: #666;
    margin: 20px 0 20px;
}

.btns{
    margin: 50px 0 0;
    text-align: center;
}

.btns a{
    display: inline-block;
    margin: 0 5px;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.btns a:hover{
    color: #fff;
    background: #333;
}