<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>组件Demo——select</title>
<link href="../../styles/style.css" rel="stylesheet">
<link rel="stylesheet" href="index.css">
<style>
.o2-select{
	width: 135px;
	font-size: 16px;
}
.o2-select .list{
	width: 135px;
}
div{
	margin:10px;
	float:left;
}
</style>
</head>
<body>

<div>
	<select id="one">
		<option value="1">111</option>
		<option value="2">222</option>
		<option value="3">333</option>
		<option value="4">444</option>
	</select>
</div>

<div>
	<select id="two">
		<option value="1">111111</option>
		<option value="2">222222</option>
		<option value="3" disabled>333333</option>
		<option value="4">444444</option>
	</select>
</div>	

<div>
	<select id="three">
		<option value="1">111111111</option>
		<option value="2">222222222</option>
		<option value="3" selected >333333333</option>
		<option value="4">444444444</option>
	</select>
</div>

<div>
	<button id="update">update 111 to 000111</button>
</div>

<div>
	<button id="destroy">destroy 111111</button>
</div>

	<script type="text/javascript" src="../../libs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../libs/seajs/sea.js"></script>
    <script type="text/javascript" src="../../../build/channel_base.js"></script>
    <script type="text/javascript">

      var Select = seajs.require("select");
      var one = new Select({$container: $("#one")});
      var two = new Select({$container: $("#two")});
      new Select({$container: $("#three")});

      $("#update").click(function(){
          $("#one option").eq(0).text("000111");
          one.update();
      })

      $("#destroy").click(function(){
      	  two.destroy();
      });
    </script>    
</body>
</html>