.mod{
    width: 1100px;
    height: 410px;
    margin: 100px auto;
    font-family: Arial, Helvetica, sans-serif;
}
.mod_fc{
    float: right;
    width: 840px;
    height: 100%;
    background: #f1f1f1;
    line-height: 410px;
    font-size: 30px;
    text-align: center;
}
.mod_side{
    position: relative;
    z-index: 1;
    float: left;
    width: 240px;
    height: 100%;
    background: #f1f1f1;
}

.mod_side_nav{
    padding: 15px 0;
}

.mod_side_nav_item{
    *overflow: hidden
}

.mod_side_nav_item a{
    position: relative;
    display: block;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    color: #333;
    border-bottom: 1px solid #d6ded0;
    margin-bottom: -1px;
    text-align: center;
}

.mod_side_nav_item_on a{
    background: #fff;
    border-color: #fff;
}

.mod_side_pop{
    display: none;
    position: absolute;
    left: 240px;
    top: 0;
    width: 860px;
    height: 410px;
    background: #fff;
}

.mod_side_pop_item{
    position: absolute;
    left: 0;
    top: 0;
    width: 858px;
    height: 408px;
    border: 1px solid #d6ded0;
    border-left: 0 none;
}

.mod_side_pop_item_box{
    float: left;
    width: 300px;
    height: 300px;
    background: #f1f1f1;
    margin:50px 0 0 85px;
    text-align: center;
    line-height: 300px;
}

.mod_2 .mod_side{
    float: right;
} 
.mod_2 .mod_fc{
    float: left;
}

.mod_2 .mod_side_pop{
    left: auto;
    right: 240px;
}

.mod_2 .mod_side_pop_item{
    border: 1px solid #d6ded0;
    border-right: 0 none;
}