.info_tab_head {
  position: relative;
  background-color: #f5f5f5;
  height: 40px;
  line-height: 40px
}

.info_tab_head .mod_tab_head_item {
  text-align: center;
  font-size: 14px;
  color: #333;
  display: block;
  float: left;
  border-right: 1px solid #ddd;
  width: 100px
}

.info_tab_head .mod_tab_head_item_last {
  border-right: 0
}

.info_tab_head .mod_tab_head_item_on {
  color: #ec7002
}

.info_tab_content {
  background-color: #fff
}

.info_tab_content .mod_tab_content_item {
  text-align: left;
  padding: 18px
}