<!DOCTYPE html>
<html lang="utf-8">
  <head>
    <title>组件Demo——Tab</title>
    <meta charset="UTF-8">
    <link href="../../styles/style.css" rel="stylesheet">
    <link href="./index.css" rel="stylesheet">
  </head>
  <body>
    <div class="info_tab mod_tab">
      <div class="info_tab_head mod_tab_head j_tab_head clearfix">
        <a href="javascript:;" class="mod_tab_head_item j_tab_head_item mod_tab_head_item_on">LV1</a>
        <a href="javascript:;" class="mod_tab_head_item j_tab_head_item">LV2</a>
        <a href="javascript:;" class="mod_tab_head_item j_tab_head_item">LV3</a>
        <a href="javascript:;" class="mod_tab_head_item j_tab_head_item mod_tab_head_item_last">LV4</a>
      </div>
      <div class="info_tab_content mod_tab_content j_tab_content">
        <div class="mod_tab_content_item j_tab_content_item">
          <p class="info_txt clearfix"><span class="info_txt_title">发行时间：</span><span class="info_txt_content">2016-06-02</span></p><p class="info_txt clearfix"><span class="info_txt_title">获得条件：</span><span class="info_txt_content">截止当天近半年内累积在食品、生鲜品类购物，实际支付金额不足199元</span></p><p class="info_txt clearfix"><span class="info_txt_title">享受权利：</span><span class="info_txt_content">活动邮件推送、不定期发放专属优惠券</span></p>
        </div>
        <div class="mod_tab_content_item j_tab_content_item">
          <p class="info_txt clearfix"><span class="info_txt_title">发行时间：</span><span class="info_txt_content">2016-06-02</span></p><p class="info_txt clearfix"><span class="info_txt_title">获得条件：</span><span class="info_txt_content">截止当天近半年内累积在食品、生鲜品类购物，实际支付金额满199元，不足499元</span></p><p class="info_txt clearfix"><span class="info_txt_title">享受权利：</span><span class="info_txt_content">活动邮件推送、不定期发放专属优惠券</span></p>
        </div>
        <div class="mod_tab_content_item j_tab_content_item">
          <p class="info_txt clearfix"><span class="info_txt_title">发行时间：</span><span class="info_txt_content">2016-06-02</span></p><p class="info_txt clearfix"><span class="info_txt_title">获得条件：</span><span class="info_txt_content">截止当天近半年内累积在食品、生鲜品类购物，实际支付金额满499元，不足1299元</span></p><p class="info_txt clearfix"><span class="info_txt_title">享受权利：</span><span class="info_txt_content">活动邮件推送、不定期发放专属优惠券</span></p>
        </div>
        <div class="mod_tab_content_item j_tab_content_item">
          <p class="info_txt clearfix"><span class="info_txt_title">发行时间：</span><span class="info_txt_content">2016-06-02</span></p><p class="info_txt clearfix"><span class="info_txt_title">获得条件：</span><span class="info_txt_content">截止当天近半年内累积在食品、生鲜品类购物，实际支付金额满1299元</span></p><p class="info_txt clearfix"><span class="info_txt_title">享受权利：</span><span class="info_txt_content">活动邮件推送、不定期发放专属优惠券</span></p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/seajs/3.0.2/sea.js"></script>
    <script type="text/javascript" src="../../../build/channel_base.min.js"></script>
    <script type="text/javascript">
      var Tab = seajs.require('tab');
      var tab = new Tab({
        container: $('.info_tab'),
        head: $('.info_tab_head'),
        content: $('.info_tab_content'),
        startAt: 0,
        hash: false,
        activeClass: 'mod_tab_head_item_on',
        hoverToSwitch: false,
        onBeforeSwitch: function () {},
        onAfterSwitch: function (index) {
          var $infoTabActive = $('.info_tab').find('.info_tab_active');
          $infoTabActive.animate({'left': 80 * index + 'px'}, 200);
        },
        onFirstShow: function () {}
      });
    </script>    
  </body>
</html>